<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Blank</title>

  <% include partials/head_includes %>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <% include partials/sidebar %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <% include partials/topbar %>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Profile</h1>

          <!-- Basic Card Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Update profile</h6>
            </div>
            <div class="card-body">
              <form class="user" name="profile" id="profile" action="/users/changePassword" method="POST">
                <div class="text-left">
                  <% include partials/messages %>
                </div>
                <div class="form-group col-sm-4">
                  <label for="oldPassword">Old Password</label>
                  <input type="password" name="oldPassword" class="form-control" id="oldPassword" placeholder="Old Password" required>
                </div>
                <div class="form-group col-sm-4">
                  <label for="newPassword">Old Password</label>
                  <input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="New Password" required>
                </div>
                <div class="form-group col-sm-4">
                  <label for="confirmPassword">Old Password</label>
                  <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
                </div>
                <div class="form-group col-sm-4">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <% include partials/footer %>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <% include partials/logout_modal %>

  <% include partials/footer_includes %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js"></script>

  <script>

    jQuery.validator.addMethod("pwcheck", function(value) {
      return /^[A-Za-z0-9\d=!\-@#$%^&._*]*$/.test(value) // consists of only these
              && /[A-Z]/.test(value) // has a lowercase letter
              && /[a-z]/.test(value) // has a lowercase letter
              && /\d/.test(value) // has a digit
              && /[=!\-@#$%^&._*]/.test(value) // has a special character
    }, 'Password must contain minimum 8 characters with at least 1 uppercase, 1 lowercase, 1 digit and 1 symbol');

    $("#profile").validate({
      rules: {
        oldPassword: {
          required: true,
          pwcheck: true,
          minlength: 8,
          maxlength: 30
        },
        newPassword: {
          required: true,
          pwcheck: true,
          minlength: 8,
          maxlength: 30
        },
        confirmPassword: {
          equalTo: "#newPassword"
        }
      }
    });
  </script>
</body>

</html>
